.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page {
    display: flex;
    flex-direction: column;
    max-width: 500px;

    a {
        color: #007bff;
    }
}