body {
    filter: invert();
    background-image: url("https://static.vecteezy.com/system/resources/previews/065/586/353/non_2x/blood-splatter-on-a-transparent-background-showcasing-vibrant-red-tones-and-chaotic-patterns-blood-splatter-on-transparent-background-free-png.png");

    img, iframe {
        filter: invert();
    }
}