body {
    filter: invert();

    .content {
        position: relative;
        overflow: hidden;
    }

    .content::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        background-image: url("https://static.vecteezy.com/system/resources/previews/065/586/353/non_2x/blood-splatter-on-a-transparent-background-showcasing-vibrant-red-tones-and-chaotic-patterns-blood-splatter-on-transparent-background-free-png.png");
        background-repeat: no-repeat;
        background-position: left bottom;
        background-attachment: fixed;
        background-size: 500px;
        filter: invert();
        z-index: -1;
        pointer-events: none;
    }

    img, iframe {
        filter: invert();
    }
}

.needed::after {
    content: " *";
    color: red;
}